.edit_error_class {
	display: block;
	color: red;
}

.sidebar ul {
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #ccc;
}

.sidebar ul li {
	margin: 0;
	padding: 0;
	list-style: none;
	border: 1px solid #ccc;
	border-bottom: none;
}

.sidebar ul li a {
	display: block;
	padding: 3px;
	text-indent: 30px;
	text-decoration: none;
}

.sidebar ul li span {
	display: block;
	padding: 3px;
	text-indent: 30px;
	text-decoration: none;
}

.sidebar ul li a:hover {
	background-color: #eee;
}

.spinner {
	display: none;
	margin-bottom: 0px;
	margin-left: 5px;
}

.ralign {
	text-align: right;
}
.calign {
	text-align: center;
}